html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;}
body {
	height: 100%;
	font: 14px/18px 'Times New Roman', Times, sans-serif;
	background-color: #FFF;
}

ol, ul {list-style: none;}

* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {text-decoration: none;}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}
.text-right {text-align: right;}
.text-left {text-align: left;}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

#header {
	position: absolute;
	top: 15px;
	left: 0;
	right: 0;
	width: 100%;
	padding: 5px 40px;
}


#home {
	height: 700px;
	padding-top: 270px;
	text-align: center;
	color: #fff;
	background: #222 url(../img/work.jpg) no-repeat center bottom;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.social a {
	display: inline-block;
	margin-left: 4px;
	width: 40px;
	height: 40px;
	background: url(../img/qwe.png) no-repeat;
}

.social a.fb {
	background-position: 0 0;
}
.social a.tw {
	background-position: -180px 0;
}
.social a.vm {
	background-position: -271px 0;
}
.social a.gg {
	background-position: -88px 0;
}

.social a.fb:hover {
	background-position: -44px 0;
}
.social a.tw:hover {
	background-position: -226px 0;
}
.social a.vm:hover {
	background-position: -317px 0;
}
.social a.gg:hover {
	background-position: -134px 0;
}

#home h3 {
	margin-bottom: 50px;
	font: 40px/40px Arial, sans-serif;
}
#home h1 {
	margin-bottom: 30px;
	text-transform: uppercase;
	font: 60px/60px Arial, sans-serif;
}

.btn1,
.btn2 {
	display: inline-block;
	height: 60px;
	width: 180px;
	border: none;
	text-transform: uppercase;
	font: bold 24px/24px Arial, sans-serif;
	color: #fff;
	background: #1E88E5;
	cursor: pointer;
}
.btn2 {
	margin-left: 10px;
}
.btn1 a, 
.btn2 a {
	color: #fff;
}

.btn1:hover {
	background: #64B5F6;
	transition-duration: 0.2s;
}
.btn2:hover {
	background: #64B5F6;
	transition-duration: 0.2s;
}

.box {
	padding: 100px 0;
}

h2.title {
	margin-bottom: 10px;
	text-transform: uppercase;
	font: bold 40px/40px Arial, sans-serif;
	color: #222;
}
h5.title {
	margin-bottom: 10px;
	font: bold 18px/18px Arial, sans-serif;
	color: #222;
}



.about-wrap,
.skills-wrap,
.education-wrap,
.contact-wrap {
	padding-top: 100px;
}


#about {
	text-align: center;
}


.about-item p {
	width: 80%;
	margin: auto;
	text-align: justify;
	font: 18px/26px Arial, sans-serif;
	color: #777;
}


#education {
	text-align: center;
	background: #F7F7F7;
} 

.education-text {
	width: 35%;
}

.education-text h5 {
	margin-top: 5px;
	line-height: 24px;
}
.education-text h5 span {
	text-transform: uppercase;
}
.education-text p {
	display: table-cell;
	vertical-align: middle;
	font: 16px/20px Arial, sans-serif;
	color: #777;
}

.education-border {
	width: 30%;
}

.education-line {
	content: '';
	display: block;
	height: 110px;
	width: 3px;
	margin: auto;
	margin-top: 160px;
	background: #bbbbbb;
}

.education-border p {
	display: inline-block;
	width: 160px;
	height: 160px;
	background: #fff;
	border: 7px solid #bbbbbb;
	padding-top: 65px;
	font: bold 18px/18px Arial, sans-serif;	
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
		 -o-border-radius: 50%;
	        border-radius: 50%;
}


#skills {
	text-align: center;
}


.skills-item {
	margin: auto;	
	margin-bottom: 36px;
	margin-left: 28px;
	margin-right: 28px;
	width: 44%;
	padding: 60px 60px;
	background: #1E88E5;
	box-shadow: 0 0 8px 0 #222;
	font: bold 22px/20px Arial, sans-serif;
	color: #fff;
}

.skills-item:hover {
	background: #64B5F6;
}


#contact {
	text-align: center;
	background: #222;
}

h3.title {
	margin-bottom: 10px;
	text-transform: uppercase;
	font: bold 40px/40px Arial, sans-serif;
	color: #fff;
}

.contact-item {
	float: left;
	width: 33.33%;
	padding: 60px 10px 0;
}
.contact-item p {
	margin-top: 0px;
	font: 18px/20px Arial, sans-serif;
	color: #fff;
}
h4.title {
	text-align: center;
	margin-top: 170px;
	text-transform: uppercase;
	font: 25px/20px Arial, sans-serif;
	color: #fff;
}

.location {
	background: url(../img/location.png) no-repeat center top;
}
.mail {
	background: url(../img/mail.png) no-repeat center top;
}
.phone {
	background: url(../img/phone.png) no-repeat center top;
}

#message .left,
#message .right {
	width: 48%;
}


#message input[type="text"],
#message textarea {
	width: 100%;
	box-shadow: none;
	margin-top: 30px;
	padding: 15px 20px;
	background: #fff;
	border: 1px solid #222;
	font: 18px/18px Arial, sans-serif;
	
}

#message input[type="text"] {
	height: 50px;
}

#message textarea {
	height: 210px;
	resize: none;
}

.button {
	display: inline-block;
	width: 100%;
	border: none;
	margin-top: 30px;
	padding: 20px 30px;
	text-transform: uppercase;
	font: bold 20px/24px Arial, sans-serif;
	color: #fff;
	background: #1E88E5;
	cursor: pointer;
}

.button:hover {
	background: #64B5F6;
	transition-duration: 0.2s;
}

